@charset "UTF-8";

.calendar {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-daygrid-day-events {
    height: 100px;
    overflow-y: auto;
    padding: 2px;
}

.fc-daygrid-day-top {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.fc-daygrid-day-view {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 2;
}

#calendar {
    width: 80%;
    margin: 0 auto;
}

.fc-time-grid-event {
    
    height: 50px;
    padding: 2px;
    
}
